@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

/* some special elements */
* { z-index:1; }
ul, ol, li, dl, dt, dd { margin:0; padding:0; }
ul, ol { padding-left:20px; }
p { margin:2px 0 5px; }
address { font-style:normal;}
h1 { margin-top:30px; font-size:20px; color:#009682; text-transform:uppercase; }
h2 { margin:0 0 5px; color:#009682; font-size:16px; }
h3 { margin:0; font-size:14px; }
dl { margin-bottom:15px; line-height:20px; }
dt { float:left; }
dt:after { content:":"; }
dd { margin:0 0 0 150px; }
meter { cursor:help; }

/* hyperlinks */
a:link, a:visited { color:#009682; text-decoration:underline; }
a:hover, a:focus { text-decoration:none; }

/* form */
form .hint { margin-top:15px; font-style:italic; }
label { display:block; letter-spacing:1px; cursor:pointer; }
.label .required, label .required, .hint .required { color:#cb1300; font-weight:bold; }
.label:after, label:after { content:":"; }
dd label:after, label.checkbox:after, label.radio:after { content:""; }
input, textarea { max-width:100%; padding:3px 5px; border:1px solid #009682; background-color:#fff; color:#333; font-size:inherit; font-family:inherit; }
.overlay input, .overlay textarea { width:80%; }
.submit input { width:100px; font-weight:bold; cursor:pointer; }
input.keywords { width:400px; }
fieldset { margin-bottom:20px; background-color:#fafafa; border:1px solid #009682; }
legend { padding:0 20px; background-color:#fafafa; text-transform:uppercase; font-size:10px; letter-spacing:1px; -webkit-border-radius:5px; -webkit-border-bottom-right-radius:0; -moz-border-radius:5px; -moz-border-radius-bottomright:0; border-radius:5px; border-bottom-right-radius:0; }
div.keywords { float:left;width:55.5555555556%; }
div.categories { float:right; width:27.7777777778%; }
div.radius .input { display:block; margin-top:-5px; }
div.radius input { position:relative; bottom:-10px; width:47.2222222222%; }
div.radius p { margin-top:15px; }
div.submit { float:right; margin:50px 90px 0 0; }

/* classes */
.clear { clear:both; }
.hide { display:block; position:absolute; top:-9999px; left:-9999px; }
.image { display:block; width:150px; margin-right:20px;  background-color:#cfc; border:1px solid #009682; line-height:50px; text-align:center; text-transform:uppercase; }
.tags { font-size:11px; }
.tags h2, .tags h3 { float:left; margin-right:15px; font-size:inherit; text-transform:uppercase; font-weight:normal; }
.tags h2:after, .tags h3:after { content:":"; }
.tags ul { list-style-type:none; }
.tags li { float:left; margin-right:5px; }
.tags li:after { content:","; }
.tags li:last-child:after { content:""; }

html, body
{
  min-height:100%;
  color:#000;
  font-family:roboto,verdana,sans-serif;
  font-size:12px;
  text-align:center;
}
body
{
  background-color:#ccc;
  background-image:linear-gradient(top, #ccc 0%, #fff 100%);
  background-image:-o-linear-gradient(top, #ccc 0%, #fff 100%);
  background-image:-moz-linear-gradient(top, #ccc 0%, #fff 100%);
  background-image:-webkit-linear-gradient(top, #ccc 0%, #fff 100%);
  background-image:-ms-linear-gradient(top, #ccc 0%, #fff 100%);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #fff) );
}
#container
{
  position:relative;
  max-width:940px; /*max-width instead of width */
  padding:20px;
  margin:0 auto;
  background-color:#fff;
  color:inherit;
  text-align:left;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}

/* header */
header { height:100px; margin:0; }
header .logo { margin-top:10px;float:left; width: 15.9574468085%; height: auto; } /* add max-width:100% and height: auto for flexible logo width: 15.9574468085%; */
header h1, header h2 { display:block; margin:0 0 0 18.6170212766%; } /* 0 0 0 175 margin:0 0 0 18.6170212766%; */
header h1 { padding-top:10px; font-size:20px; background-color:inherit; color:#009682; font-weight:bold; }
header h2 { color:#000; font-size:16px; font-style:italic; font-weight:normal; }

/* navigation */
nav { margin:25px 0; padding:0 15px; background-color:#009682; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; }
nav ul { padding:0; list-style-type:none; }
nav li { float:left; margin-right:5px; }
nav a:link, nav a:visited, nav em { display:block; padding:3px 10px; color:#fff; letter-spacing:1px; text-decoration:none; text-transform:uppercase; }
nav a:hover, nav a:focus { background-color:#fff; color:#000; }
nav a.button, nav a.closer { display:none; }

/* content */
#content { float:left; width:76.5957446809%; } /* 720px*
#loader { margin-top:50px; text-align:center; }
p.createpoi { position:absolute; top:35px; right:0; }

/* sidebar */
aside { float:right; width:21.2765957447%; } /* 200 */
aside h2 { margin-top:15px; }

/* articles */
article { position:relative; min-height:150px; margin:25px 0; padding:0 0 25px 170px; border-bottom:1px solid #009682; }
article:last-child { border:0; }
article .facts h3 { margin:15px 0 0px; font-size:inherit; letter-spacing:1px; text-transform:uppercase; }
article .image { display:block; position:absolute; top:5px; left:0; }

/* footer */
footer { clear:both; margin-top:20px; padding-top:10px; border-top:1px solid #ccc; color:#ccc; text-align:center; font-size:10px; }
footer .university { display:block; float:left; }
footer .institute { display:block; float:right; }

/* overlay */
#overlay, #createOverlay, #detailOverlay { display:none; }
#overlay { position:fixed; top:0; left:0; width:100%; height:100%; background-color:#fff; background-color:rgba(224, 252, 255, 0.5); color:000; z-index:500; }
.overlay { position:absolute; top:50%; left:50%; width:780px; min-height:350px; margin-left:-400px; margin-top:-175px; padding:15px 35px 15px 15px; background-color:#fff; color:#000; z-index:1000; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; z-index:501; }
.overlay .close { position:absolute; top:10px; right:15px; background-color:inherit; color:#aaa; font-size:22px; font-weight:bold; text-transform:uppercase; text-decoration:none; }
.overlay .close:hover, .overlay .close:focus { color:#000; }
#createOverlay .formelement { float:left; width:50%; margin-bottom:25px;  }
#createOverlay .formelement label.required:after { content:" *:"; }
#createOverlay .formelement.builddate { margin-bottom:22px; }
#createOverlay .hint { text-align:right; padding-top:15px; font-style:italic; font-size:10px; }
#createOverlay .submit { text-align:right; }
#createOverlay textarea { height:84px; }
#detailOverlay { width:800px; height:600px; padding-right:15px; margin-top:-250px; }
#detailOverlay section { margin-top:30px; }
#detailOverlay .column.wide { float:left; width:480px; margin-right:20px; }
#detailOverlay .column.small { float:right; width:250px; }
#detailOverlay .image { width:100%; height:200px; }
#detailOverlay .facts dd { margin-left:110px; }

#detailOverlay #plantlayout { width:250px; height:150px;background-color:#ccc;  }

#hint { position:absolute; top:10px; right:10px; color:#009682; font-size:16px; font-weight:bold; text-transform:uppercase; z-index:9999; }
#listTemplate { display:none; }




/* dev section: prepare a responsive navigation *
nav a.button { display:block; text-align:center; fontw-weight:bold; }
nav:target { height:100px; }
nav ul { position:absolute; display:none; z-index:1001; }
nav:target ul { display:block; }
nav li { float:none; }
nav .closer { display:none; } 
nav:target .closer { display:block; position:fixed; top:0; left:0; width:100%; height:100%; background-color:transparent; z-index:1000;}
*/

/* Media Queries */
@media only screen and (max-width:43em) {
	#content { float:left; width:100%; }
    aside { float:right; width:100%; } /* 200 */
    div.keywords { width:95%; }
	div.categories {margin-top:55px;  float:none; width:95%; }
	
	header .logo { margin-top:10px;float:left; width: 26.59574468%; height: auto; } /* add max-width:100% and height: auto for flexible logo width: 15.9574468085%; */
	header h1, header h2 { display:block; margin:0 0 0 29.255319148%; } /* 0 0 0 175 margin:0 0 0 18.6170212766%; */
	header h1 { padding-top:10px; font-size:20px; background-color:inherit; color:#009682; font-weight:bold; }
	header h2 { color:#000; font-size:16px; font-style:italic; font-weight:normal; }
}

@media only screen and (max-width:29em) {
	article { position:relative; min-height:150px; margin:25px 0; padding:125px 0 25px 0px; border-bottom:1px solid #009682; }
	article:last-child { border:0; }
	article .image { display:block;  width:90%; height: auto; background-color:#cfc; border:1px solid #009682; line-height:50px; text-align:center; text-transform:uppercase; }
	article .facts h3 { margin:15px 0 0px; font-size:inherit; letter-spacing:1px; text-transform:uppercase; }
	article .tags { font-size:11px; }
	article .tags h3 { float:left; margin-right:15px; font-size:inherit; text-transform:uppercase; font-weight:normal; }
	article .tags h3:after { content:":"; }
	article .tags ul { list-style-type:none; }
	article .tags li { float:left; margin-right:5px; }
	article .tags li:after { content:","; }
	article .tags li:last-child:after { content:""; }
	dd { margin:0 0 0 120px; }
	
	header .logo { display:none; } /* add max-width:100% and height: auto for flexible logo width: 15.9574468085%; */
	header h1, header h2 { display:block; margin:0 0 0 1%; } /* 0 0 0 175 margin:0 0 0 18.6170212766%; */
	header h1 { padding-top:10px; font-size:20px; background-color:inherit; color:#009682; font-weight:bold; }
	header h2 { color:#000; font-size:16px; font-style:italic; font-weight:normal; }
}